body{
    background-image: url(body.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    position: static;

}

.brief-context {
    position: relative;
}

.brief-context h1 {
    color: rgba(255, 255, 255, 0.740);
    font-size: 50px;
    position: relative;
    top: 165px;
    margin-left: 15px;
}

.brief-context hr{
    position: relative;
    top: 135px;
    margin-left: 15px;

 }


.brief-context p {
    color: rgba(255, 255, 255, 0.545);
    width: 45%;
    font-size: 18px;
    text-align: justify;
    position: relative;
    top: 130px;
    margin-left: 15px;
}

.nav {
    background-color: grey;
    position: fixed;
    width: 100%;
    top: 0%;
}

.nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: sticky;
}

.nav a{
    color: rgba(255, 255, 255, 0.705);
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
}

ul li:nth-child(6) {
    position: relative;
    left: 52%;
}

.nav a:hover{
    background-color: rgba(0, 0, 0, 0.534);
}

.nav li{
    float: left;
    margin-right: 12px;
}

.dropdown{
    display: inline;
}

.dropdown button{
    position: fixed;
    font-size: 35px;
    left: 94.8%;
    bottom: 92.4%;
    height: 47.5px;
    border: none;
    background: transparent;

}

.dropdown i{
    color: rgba(255, 255, 255, 0.705);
    cursor: pointer;
    font-size: 42px;

}

.content a{
    display: block;
    text-decoration: none;
    padding: 8px 15px;
    color: rgba(255, 255, 255, 0.705);
}

.dropdown .content{
    position: absolute;
    background-color: grey;
    left: 93.8%;
    top: 48px;
    width: 81px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.705); 
    display: none;
}

.dropdown:hover .content{
    display: block;
}

.dropdown button:hover{
    background-color: rgba(0, 0, 0, 0.534);
}
.content a:hover{
    background-color: rgba(0, 0, 0, 0.534);

}

