body{
    background-image: url(body.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    position: static;
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;


}

.nav {
    background-color: grey;
    position: fixed;
    width: 100%;
    top: 0%;
}

.nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: sticky;
}

.nav a{
    color: rgba(255, 255, 255, 0.705);
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: center;
}

ul li:nth-child(6) {
    position: relative;
    left: 52%;
}

.nav a:hover{
    background-color: rgba(0, 0, 0, 0.534);
}

.nav li{
    float: left;
    margin-right: 12px;
}

.dropdown{
    display: inline;
}

.dropdown button{
    position: fixed;
    font-size: 35px;
    left: 94.8%;
    bottom: 92.4%;
    height: 47.5px;
    border: none;
    background: transparent;

}

.dropdown i{
    color: rgba(255, 255, 255, 0.705);
    cursor: pointer;
    font-size: 42px;

}

.content a{
    display: block;
    text-decoration: none;
    padding: 8px 15px;
    color: rgba(255, 255, 255, 0.705);
}

.dropdown .content{
    position: absolute;
    background-color: grey;
    left: 93.8%;
    top: 48px;
    width: 81px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.705); 
    display: none;
}

.dropdown:hover .content{
    display: block;
}

.dropdown button:hover{
    background-color: rgba(0, 0, 0, 0.534);
}
.content a:hover{
    background-color: rgba(0, 0, 0, 0.534);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flipbook {
    width: 1000px;
    height: 600px;
}

.flipbook .hard {
    background: #c0392b !important;
    color: #fff;
    font-weight: bold;
    border: none; 
}

.flipbook .hard img{
    height: auto;
    width: fit-content;
    width: 105.5%;
    position: relative;
    bottom: 8px;
    right: 1px;
}

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
	width: 70%;
	object-fit: cover;
	margin: auto;
}

.flipbook .page small{
	font-size: 14px;
    margin-bottom: 10px;
}